@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::-webkit-scrollbar {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  background-color: #f0f4f8;
  touch-action: manipulation;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white;
  }
}
