@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f0f4f8;
  touch-action: manipulation;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white;
  }
}
